.Confirmation {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 0.9em;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.Confirmation-header {
  border-bottom: 1px solid rgb(199, 199, 204);
  position: relative;
}

.Confirmation-header h3 {
  display: inline-block;
}

.Confirmation-logo-back {
  position: absolute;
  cursor: pointer;
  left: 5px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.Confirmation-sms-status {
  animation: smsStatusShading  2s 1 ease-in-out;
}

@keyframes smsStatusShading {
  from {background: rgba(211, 49, 60, 0.15);}
  /*50% {text-shadow: 0 0 30px black;}*/
  to {background: none;}
}

.Confirmation-confirm-label {
  font-size: 1.3em;
}

.Confirmation-sms-label {
  color: rgb(199, 199, 204);
  max-width: 220px;
  margin: 15px auto;
}

.Confirmation-code-wrapper {
  display: flex;
}

.Confirmation-filling-wrapper {
  margin: 40px 0;
}

.Confirmation-filling-wrapper a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.Confirmation-filling-wrapper input {
  font-size: 1em;
  outline: none;
  padding: 10px;
}

.Confirmation-code-input {
  border: 1px solid rgb(199, 199, 204);
  border-left: none;
  border-right: none;
  width: 100%;
}

.Confirmation-status-wrapper {
  color: rgb(199, 199, 204);
  font-size: 0.7em;
  margin: 20px 0;
  padding: 0 15px;
  text-align: left;
}

.Confirmation-cont-btn {
  padding: 15px 5px;
  border: 0;
  border-radius: 25px;
  background: rgb(211, 49, 60);
  font-size: 1.25em;
  color: white;
  /* margin: 50px 0; */
  outline: none;
  width: 80%;
}

.Confirmation-highlighted {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

input::-moz-placeholder {
  color: rgb(199, 199, 204);
}

input::-webkit-input-placeholder {
  color: rgb(199, 199, 204);
}

@media (max-width: 400px) {
  .Confirmation {
    max-width: 400px;
  }
}
