.ProfileEdit {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 671px;
  max-width: 375px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.ProfileEdit-add-social-modal-background {
  background: rgba(0, 0, 0, .6);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.ProfileEdit-add-social-modal-window {
  background: white;
  bottom: 0;
  height: 129px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 6;
}

.add-social-modal-window-header {
  color: rgb(199, 199, 204);
  margin: 0;
  padding: 10px;
}

.add-social-modal-window-header span {
  color: black;
  font-weight: bold;
  display: inline-block;
}

.add-social-modal-window-header span::first-letter {
  text-transform: uppercase;
}


.ProfileEdit-add-social-modal-window input {
  border: 1px solid rgb(199, 199, 204);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  outline: none;
  padding: 10px;
  width: 100%;
}

.add-social-modal-buttons-wrapper button {
  background: none;
  border: none;
  font-size: 1.2em;
  padding: 10px 5px;
  width: 50%;
}

.add-social-modal-buttons-wrapper button:hover {
  background: lightblue;
}

.add-social-modal-buttons-wrapper button:first-child {
  border-right: 1px solid rgb(199, 199, 204);
}

.dropzone {
  height: 150px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  /*max-width: 50%;*/
}

.input {
  cursor: pointer;
  height: 150px;
  margin: 40px auto;
  left: 0;
  outline: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.ProfileEdit-header {
  position: relative;
}

.ProfileEdit-header h3 {
  margin: 0;
  padding: 16px 0;
}

.ProfileEdit-header span {
  color: rgb(211, 49, 60);
  font-size: 1.2em;
  line-height: 51px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 17px;
}

.ProfileEdit-avatar-container {
  height: 230px;
  position: relative;
  width: 100%;
}

.ProfileEdit-avatar-container img {
  background: linear-gradient(to left,
    rgb(219, 62 ,73) 2.33%,
    rgb(218, 65 ,78) 4.66%,
    rgb(214, 72 ,92) 6.99%,
    rgb(209, 82 ,109) 9.32%,
    rgb(202, 93 ,128),
    rgb(193, 105, 146),
    rgb(183, 116, 164),
    rgb(172, 127, 181),
    rgb(160, 136, 197),
    rgb(148, 145, 211),
    rgb(136, 153, 223),
    rgb(125, 159, 232),
    rgb(115, 164, 240),
    rgb(108, 167, 244),
    rgb(106, 168, 246));
  border-radius: 50%;
  bottom: 0;
  height: 150px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.ProfileEdit-avatar-remove-btn {
  background: black;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 50px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 1px 6px;
  position: absolute;
  right: 120px;
  z-index: 5;
}

.ProfileEdit-user-info {
  height: 390px;
  overflow-y: scroll;
  text-align: left;
}

.ProfileEdit-user-info input {
  border: 0;
  font-size: 1.1em;
  letter-spacing: 1px;
  outline: none;
  padding: 16px;
  width: 325px;
}

.ProfileEdit-user-info-biography-wrapper {
  position: relative;
}

.ProfileEdit-user-info-biography-wrapper span {
  bottom: 4px;
  color: rgb(199, 199, 204);
  font-size: 1.2em;
  right: 16px;
  position: absolute;
}

.ProfileEdit-user-info textarea {
  border: 0;
  font-size: 1.1em;
  height: 64px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  outline: none;
  overflow: hidden;
  padding: 16px;
  resize: none;
  width: 325px;
}

.ProfileEdit-user-info-label {
  background: rgb(249, 249, 249);
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding: 32px 16px 4px 16px;
}

.User-info-social {
  padding: 15px;
  position: relative;
}

.User-info-social img {
  bottom: 0;
  left: 16px;
  margin: auto;
  position: absolute;
  top: 0;
}

.User-info-social-label {
  color: rgb(199, 199, 204);
  font-size: 1.2em;
  margin-left: 25px;
  padding: 5px;
}

.User-info-social-label a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.Instagram {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.User-info-social-connect {
  bottom: 0;
  color: rgb(211, 49, 60);
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  height: 15px;
  margin: auto;
  position: absolute;
  right: 16px;
  top: 0;
}

.delete {
  color: rgb(199, 199, 204);
}